<section id="#">
<div class="page-header">
  <h1>Test Tipi <small>(new)</small></h1>
</div>
</section>

<form action="/admin/trial_types" method="post" class="form-horizontal">
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="input01">Ad (*)</label>
      <div class="controls">
	<input type="text" class="input-xlarge" id="input01" name="name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input03">Fiyat (*)</label>
      <div class="controls">
	<input type="text" class="input-xlarge" id="input03" name="price">
      </div>
    </div>
  </fieldset>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Kaydet</button>
  </div>
</form>
