<form action="/admin/drugs" method="post" class="form-horizontal">
  <fieldset>
    <legend>İlaç Ekle</legend>
    <div class="control-group">
      <label class="control-label" for="input01">Ad (*)</label>
      <div class="controls">
	<input type="text" class="input-xlarge" id="input01" name="name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input02">Son Kullanma Tarihi (*)</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input02" name="expiry_date" data-datepicker="datepicker">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input03">İçerik (*)</label>
      <div class="controls">
        <textarea rows="3" class="input-xlarge" id="input03" name="content"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input04">Fiyat (*)</label>
      <div class="controls">
	<input type="text" class="input-xlarge" id="input04" name="price">
      </div>
    </div>
  </fieldset>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Kaydet</button>
  </div>
</form>
