<div class="hero-unit">
  <center>
    <p>
     Medical<br />
    <br />
    gdemir@bil.omu.edu.tr<br />
    <br />
    <a href="http://gdemir.me">http://gdemir.me</a><br />
    <br />
    </p>
  </center>
</div>
