<center>
  <h2>Online Hasta Başvuru Sistemi</h2>
  <hr />
</center>

<div class="span3">
  <div class="thumbnail">
    <img src="/assets/19-negative-640x640.png" alt="">
    <div class="caption">
      <h4>Başvuru Yap</h4>
      <p>Hmm</p>
      <p><a href="/home/consult_register" class="btn btn-primary">Başvuru Yap</a></p>
    </div>
  </div>
</div>

<div class="span3">
  <div class="thumbnail">
    <img src="/assets/19-normal-640x640.png" alt="">
    <div class="caption">
      <h4>Başvuru Sorgu</h4>
      <p>Hmm</p>
      <p><a href="/home/consult_query" class="btn btn-primary">Başvuru Sorgu</a></p>
    </div>
  </div>
</div>
