<article class="container">

<section class="row features">
<h2>Hasta kayıt yönetim sistemi ve online hasta randevu sistemi</h2>
<p class="intro">Hafif, hızlı ve gerçekten kullanacağınız özelliklere sahip bir sistem.</p>

<div class="span6">
  <h3>Kolay ve hızlı randevu kayıt <span class="label label-warning"><i class="icon-check"></i></span></h3>
  <p>Tc, doğum tarihi, doğum yeri bilgilerinizle; istediğiniz bölümün doktorundan randevu alın.<a href="/home/consult_register" class="btn">Başvuru</a></p>
</div>

<div class="span6">
  <h3>Randevularınızı inceleyin, iptal edin <span class="label label-warning"><i class="icon-search"></i></span></h3>
  <p>Tc, doğum tarihi, doğum yeri bilgilerinizle; randevunuzu inceleyin ve iptal edin. <br/><a href="/home/consult_query" class="btn">Sorgu</a></p>
</div>

<div class="span6">
  <h3>Admin paneli ile mühendis gibi yönetin <span class="label label-warning"><i class="icon-random"></i></span></h3>
  <p>Yönetim panelinde <span class="label">admin</span>, <span class="label">superadmin</span> ile randevu isteklerini hızlı ve etkili olarak yönetin. <br/><a class="btn" data-toggle="modal" href="#admin">Giriş</a></p>
</div>

<div class="span6">
  <i class="collaborate"></i>
  <h3>Sistem tarafından bilgilendirilin <span class="label label-warning">Pek Yakında</span></h3>
  <p>Randevu saati öncesinde ve sonrasında kullanılan ilacın K.T ve S.K.T'den önce mail ile bilgilenin, unuttum derdine son verin.</p>
</div>

</section>
</article>
