<% if trial_type = TrialType.find_by_id(@trial_type_id) %>

<form action="/admin/trials" method="post" class="form-horizontal">
  <fieldset>
    <legend>Test Ekle</legend>
    <div class="control-group">
      <label class="control-label" for="disabledInput">Test Tipi (*)</label>
      <div class="controls">
        <input type="text" class="input-xlarge disabled" id="disabledInput" value="<%= trial_type[:name] %>" disabled>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Ad (*)</label>
      <div class="controls">
	<input type="text" class="input-xlarge" id="input01" name="name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input02">Min Range (*)</label>
      <div class="controls">
	<input type="text" class="input-xlarge" id="input02" name="min_range">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input03">Max Range (*)</label>
      <div class="controls">
	<input type="text" class="input-xlarge" id="input03" name="max_range">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input04">Units (*)</label>
      <div class="controls">
	<input type="text" class="input-xlarge" id="input04" name="units">
      </div>
    </div>
    <input type="hidden" class="input-xlarge" id="input03" name="trial_type_id" value="<%= trial_type[:id] %>">
  </fieldset>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a href="/admin/trial_types/<%= trial_type[:id] %>/edit" class="btn btn-primary">İptal</a>
  </div>
</form>
<% else %>
  <center>
    Böyle Bir Test Bulunmamaktadır.
  </center>
<% end %>
