<form action="/admin/patients" method="post" enctype="multipart/form-data" class="form-horizontal">
  <fieldset>
    <legend>Hasta Ekle</legend>
    <div class="control-group">
      <label class="control-label" for="input01">Tc (*)</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input01" name="tc">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input02">Dosya no (*)</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input02" name="file_no">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input03">Ad (*)</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input03" name="first_name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input04">Soyad (*)</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input04" name="last_name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Cinsiyet</label>
      <div class="controls">
        <label class="radio">
          <input type="radio" name="gender" id="optionsRadios1" value="1" checked>
          <span class="label label-info">Erkek</span>
        </label>
        <label class="radio">
          <input type="radio" name="gender" id="optionsRadios2" value="0">
          <span class="label label-important">Kız</span>
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input05">Tel (*)</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input05" name="phone">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputIcon">Email (*)</label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-envelope"></i></span>
          <input type="text" class="input-large" id="inputIcon" name="email">
        </div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="fileInput">Fotoğraf (*)</label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-camera"></i></span>
        <input type="file" class="input-file" id="fileInput" name="image">
        </div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input06">Doğum Tarihi (*)</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input06" name="birthday" data-datepicker="datepicker">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input07">Doğum Yeri (*)</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input07" name="birthplace">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input08">Kan Grup (*)</label>
      <div class="controls">
        <%= select_tag(:blood_group_id, options_from_collection_for_select(BloodGroup.all, :id, :name)) %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input09">Adres (*)</label>
      <div class="controls">
        <textarea rows="4" class="input-xlarge" id="input09" name="address"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input10">Anne Ad (*)</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input10" name="mother_name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input11">Baba Ad (*)</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input11" name="father_name">
      </div>
    </div>
  </fieldset>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Kaydet</button>
  </div>
</form>
