<!-- footer altı çok kapatıyor: <br /> ile kirli çözüm #FIXME -->
<br /><br /><br /><br />
<!-- footer -->
<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><a href="/">Başvuru Sistemi &copy; <%= Time.now.year %> </a></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="/about">Hakkında</a></li>
        <li><a href="/contact">İletişim</a></li>
      </ul>
    </div>
  </div>
</div><!--/.footer -->
