<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="">Medical</a>
      <div class="nav-collapse">

        <ul class="nav">
          <li class="active"><a href="/home">Anasayfa</a></li>
          <li><a href="/about">Hakkında</a></li>
          <li><a href="/contact">İletişim</a></li>
        </ul>

        <ul class="nav pull-right">

          <% if session[:admin] %>
            <li><a href="/admin">Admin</a></li>
            <li class="divider-vertical"></li>
          <% end %>

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">

            <% if session[:admin] %>
              <%= session[:admin][:first_name] + " " + session[:admin][:last_name] %>
              <img src="<%= session[:admin][:image_url] %>" width="15" height="15">
            <% else %>
              <li><a data-toggle="modal" href="#admin">Staff Login</a></li>
            <% end %>

            <b class="caret"></b>
          </a>

          <% if session[:admin] %>
            <ul class="dropdown-menu">
              <li><a href="/admin/profile">
                <img src="<%= session[:admin][:image_url] %>" width="32" height="32">
                <%= session[:admin][:first_name] + " " + session[:admin][:last_name] %>
              </a></li>
              <li class="divider"></li>
              <li><a href="/admin/logout">Çıkış</a></li>
            </ul>
          <% end %>

          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
